<div class="dashboard">
  <div class="welcome-card">
    <h3>Bienvenue sur votre tableau de bord !</h3>
    <p>Voici un aperçu rapide des données importantes. Utilisez les filtres ci-dessous pour affiner les résultats.</p>
</div>

  <!-- Filtres -->
  <!-- Section des filtres -->
<div class="container">
  <div class="filters-container">
    <label for="category">Filtrer par catégorie </label>
    <select id="category" [(ngModel)]="selectedCategory" (change)="onCategoryChange(selectedCategory)">
      <option value="all">Toutes les catégories</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>

    <label for="year">Filtrer par année </label>
    <select id="year" [(ngModel)]="selectedYear" (change)="onYearChange(selectedYear)">
      <option value="all">Toutes les années</option>
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>

    <!-- Filtres supplémentaires -->

    <label for="quarter">Filtrer par trimestre </label>
    <select id="quarter" [(ngModel)]="selectedQuarter" (change)="onQuarterChange(selectedQuarter)">
      <option value="all">Tous les trimestres</option>
      <option *ngFor="let quarter of quarters" [value]="quarter">{{ quarter }}</option>
    </select>

  

    <label for="month" *ngIf="selectedYear !== 'all'">Filtrer par mois </label>
    <select id="month" *ngIf="selectedYear !== 'all'" [(ngModel)]="selectedMonth" (change)="onMonthChange(selectedMonth)">
      <option value="all">Tous les mois</option>
      <option *ngFor="let month of months" [value]="month">{{ monthNames[month] }}</option>
    </select>

    <label for="week" *ngIf="selectedMonth !== 'all' && selectedYear !== 'all'">Filtrer par semaine </label>
    <select id="week" *ngIf="selectedMonth !== 'all' && selectedYear !== 'all'" [(ngModel)]="selectedWeek" (change)="onWeekChange(selectedWeek)">
      <option value="all">Toutes les semaines</option>
      <option *ngFor="let week of availableWeeks" [value]="week">{{ week }}</option>
    </select>

    <label for="promotion">Filtrer par promotion </label>
    <select id="promotion" [(ngModel)]="selectedPromotion" (change)="onPromotionChange(selectedPromotion)">
      <option value="all">Toutes les promotions</option>
      <option *ngFor="let promotion of promotions" [value]="promotion">{{ promotion }}</option>
    </select>
  </div>
  


  <!-- Résultats financiers -->
  <div class="cards-container">
    <div class="card">
      <i class="fas fa-chart-line icon"></i>
      <h3>Chiffre d'affaires : {{ totalRevenue | currency:'EUR' }}</h3>
    </div>
    <div class="card">
      <i class="fas fa-file-invoice-dollar icon"></i>
      <h3>Total des factures : {{ totalInvoices | currency:'EUR' }}</h3>
    </div>
    <div class="card">
      <i class="fas fa-percentage icon"></i>
      <h3>Marge : {{ margin | currency:'EUR' }}</h3>
    </div>
    <div class="card">
      <i class="fas fa-balance-scale icon"></i>
      <h3>Résultat comptable : {{ accountingResult | currency:'EUR' }}</h3>
    </div>
    <div class="card">
      <i class="fas fa-university icon"></i>
      <h3>Impôt sur les sociétés : {{ corporateTax | currency:'EUR' }}</h3>
    </div>
  </div>
</div>

  <canvas id="myChart" width="700" height="450"></canvas>

  <!-- Tableau des ventes -->
  <div class="table-container">
    <h3>Données des ventes</h3>
    <table mat-table [dataSource]="filteredSalesData" class="mat-elevation-z8 animated-table">
      <ng-container matColumnDef="pid">
        <th mat-header-cell *matHeaderCellDef> PID </th>
        <td mat-cell *matCellDef="let item"> {{ item.pid }} </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Catégorie </th>
        <td mat-cell *matCellDef="let item"> {{ item.category_name }} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Prix </th>
        <td mat-cell *matCellDef="let item"> {{ item.price | currency:'EUR' }} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantité </th>
        <td mat-cell *matCellDef="let item"> {{ item.quantity }} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let item"> {{ item.date }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['pid', 'category', 'price', 'quantity', 'date']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['pid', 'category', 'price', 'quantity', 'date'];"></tr>
    </table>
  </div>
</div>