*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidenav-container {
  display: grid;
  grid-template-columns: 250px 1fr;  /* 250px pour le sidenav, et le reste pour le tableau */
  height: 100vh;  /* Pour que le conteneur occupe toute la hauteur */
}

.sidenav {
  grid-column: 1 / 2;  /* Le sidenav occupe la première colonne */
  background-color: #121212;  /* Fond noir */
  color: #ffffff;  /* Texte en blanc */
}

.mat-list-item {
  color: #ffffff !important;  /* Forcer la couleur blanche pour les liens */
}

