<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" fixedInViewport="true">
    <mat-toolbar color="primary">
      <span>Menu</span>
    </mat-toolbar>
    <mat-list>
      <mat-list-item>
        <a mat-list-item routerLink="/home">Home</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item routerLink="/about">About</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item routerLink="/contact">Contact</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
</mat-sidenav-container>
