<div class="home-container">
  <section class="intro">
    <h1>Bienvenue sur le projet de gestion des stocks</h1>
    <p>
      Ce projet a pour objectif de gérer les stocks de poissons, crustacés, et coquillages de manière efficace et intuitive.
      Grâce à notre application, vous pourrez suivre l'état des stocks, ajouter de nouveaux produits, et gérer les ventes.
    </p>
  </section>

  <section class="about-project fade-in">
    <h2>À propos du projet</h2>
    <p>
      L'application permet de suivre les stocks en temps réel, d'afficher les produits disponibles, et de faciliter la gestion des commandes. 
      Que vous soyez un détaillant ou un grossiste, notre solution est adaptée pour répondre à vos besoins spécifiques.
    </p>
    <p>
      Les catégories principales incluent :
    </p>
    <ul>
      <li>Les Poissons</li>
      <li>Les Crustacés</li>
      <li>Les Coquillages</li>
    </ul>
    <p>
      Nous mettons l'accent sur la simplicité d'utilisation et la précision des données pour garantir une gestion optimale de vos stocks.
    </p>
  </section>


<section class="team">
  <h2>Notre Équipe</h2>
  <div class="team-members">
    <div class="member">
      <img  src="assets/photo/photo1.jpg" alt="Photo membre 2" class="profile-photo">
      <h3>Etienne</h3>
      <p>Développeur frontend passionné par Angular.</p>
    </div>
    <div class="member">
      <img src="assets/photo/photo2.jpg" alt="Photo membre 1" class="profile-photo">
      <h3>Mohamad</h3>
      <p>Expert en backend et intégration de données.</p>
    </div>
    <div class="member">
      <img src="assets/photo/photo3.jpg" alt="Photo membre 3" class="profile-photo">
      <h3>Shyam</h3>
      <p>Spécialiste en gestion de projet et API REST.</p>
    </div>
  </div>
</section>
</div>
<app-footer></app-footer>

<!--
<div class="card-container">
  <app-card name="Saumon" category="Poisson" ></app-card>
  <app-card name="Crevettes" category="Crustacé" ></app-card>
  <app-card name="Coquilles Saint-Jacques" category="Coquillage" ></app-card>
</div>
-->
